@page "/"
@rendermode InteractiveServer
@inject ReservationSystem ReservationSystem
@using Domain

<PageTitle>Home</PageTitle>

<h1>Classes</h1>

@foreach (var classViewModel in _gymClasses)
{
    <GymClass GymClassViewModel=classViewModel></GymClass>
}

@code {
    private IReadOnlyCollection<GymClassViewModel> _gymClasses = new List<GymClassViewModel>();

    protected override async Task OnInitializedAsync()
    {
        
        _gymClasses = await ReservationSystem.ListClasses();
    }

}