@page "/"
@rendermode InteractiveServer
@using Configurator
@using Domain

<PageTitle>Home</PageTitle>

<h1>Classes</h1>

@foreach (var classViewModel in _gymClasses)
{
    <GymClass GymClassViewModel=classViewModel ReservationSystem="_reservationSystem"></GymClass>
}

@code {

    private readonly ReservationSystem _reservationSystem = ReservationSystemConfigurator.ConfigureReservationSystem();
    private IReadOnlyCollection<GymClassViewModel> _gymClasses = new List<GymClassViewModel>();

    protected override async Task OnInitializedAsync()
    {
        _gymClasses = await _reservationSystem.ListClasses();
    }

}